# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/
.sbtserver/
RUNNING_PID
app-2.11/
conf/application.conf
project/.sbtserver
project/.sbtserver.lock
project/build.properties
test-2.11/
